*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background-color:white;
}

h1{
  text-align:center;
  font-size: 5em;
  color:rgba(0,0,0,.25);
}
h3{
  text-align:center;
  font-size:3em;
  color:rgba(0,0,0,.25);
}
.view-link {
    text-align: center;
}
.view-link a{
  border-radius:3px;
  font-size:1.5em;
  color:gray;
  background:white;
  padding:10px 20px;
}
